<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FlashTube{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="container py-5">
    <header>
        <h1 class="text-center mb-4">{% block header %}{% endblock %}</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>